body {
    background: rgb(26,0,120);
background: linear-gradient(180deg, rgba(26,0,120,1) 0%, rgba(47,17,128,1) 20%, rgba(26,126,195,1) 30%, rgba(31,164,223,1) 35%, rgba(57,189,245,1) 40%, rgba(97,210,255,1) 45%, rgba(163,232,255,1) 55%, rgba(156,231,255,1) 90%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'MuseoModerno', sans-serif;
   
}

@font-face {
    font-family: "MuseoModerno";
    src: url("../assets/fonts/MuseoModerno-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navigation {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(#0066ff, #0099ff, #66ffff, #00ccff, #0099ff);
    align-items: center;
    height: 15vh;
    gap: 20px;
    
}
.navigation > div > a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 25pt;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(193,192,192,1) 13%, rgba(162,159,159,1) 24%, rgba(158,158,158,1) 26%, rgba(215,211,211,1) 63%, rgba(191,190,190,1) 79%, rgba(255,255,255,1) 100%);
    border: 2px, solid, gray;
    border-radius: 20px;
   
}


.background_container {
    position: absolute;
    top: 15vh;
    width: 100vh;
    bottom: 25vh;
    z-index: -1;
}

#cloud1 {
    position: absolute;
    left: 50%;
    transform: translate(calc(var(--mouse-x) / -5), 0);
  }
  
  #cloud2 {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(calc(var(--mouse-x) / 6), 0);
  }
  
  #cloud3 {
    position: absolute;
    top: 20px;
    left: 70%;
    transform: translate(calc(var(--mouse-x) / 4), 0);
  }

footer {
    margin-top: auto;
}

.footerContainer {
    display: flex;
    background: linear-gradient(0deg, rgba(198,255,198,1) 11%, rgba(38,251,38,1) 26%, rgba(58,218,58,1) 39%, rgba(24,223,64,1) 67%, rgba(190,232,190,1) 94%);
    height: 25vh;
    justify-content: space-between;
    
    

}
.footerContainer > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-self: center;
    gap: 15px;
}
.footerContainer > ul > li > a {
    text-decoration: none;
    color: black;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(193,192,192,1) 13%, rgba(162,159,159,1) 24%, rgba(158,158,158,1) 26%, rgba(215,211,211,1) 63%, rgba(191,190,190,1) 79%, rgba(255,255,255,1) 100%);
    padding: 3px;
    border: 2px solid gray;
    border-radius: 10px;
    
}
.footerContainer > h3 {
    align-self: flex-end;
    margin-right: 10px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(193,192,192,1) 13%, rgba(162,159,159,1) 24%, rgba(158,158,158,1) 26%, rgba(215,211,211,1) 63%, rgba(191,190,190,1) 79%, rgba(255,255,255,1) 100%);
    padding: 3px;
    border: 2px solid gray;
    border-radius: 10px;
}


