@font-face {
    font-family: "MuseoModerno";
    src: url("../assets/fonts/MuseoModerno-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: beige;
    font-family: MuseoModerno;
}

.sidebar {
    width: 25%;
    height: 100vw;
    background: linear-gradient(90deg, #0066ff, #0099ff, #66ffff, #00ccff, #0099ff);
}

.linkTree {
    background: linear-gradient(0deg, rgba(198,255,198,1) 11%, rgba(38,251,38,1) 26%, rgba(58,218,58,1) 39%, rgba(24,223,64,1) 67%, rgba(190,232,190,1) 94%);
    width: 75%;
    height: 15vh;
    align-items: center;
    
}

.linkTree > .treeBanner {
    font-size: 26pt;
    align-self: center;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(193,192,192,1) 13%, rgba(162,159,159,1) 24%, rgba(158,158,158,1) 26%, rgba(215,211,211,1) 63%, rgba(191,190,190,1) 79%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
    border: 2px solid gray;
    padding: 5px;
}